---
import LanguageSwitcher from '../components/LanguageSwitcher.vue';
import '../styles/global.css';

const { lang } = Astro.props;
---
<html lang={lang}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self'; font-src 'self';">
    <title>Arnaud Gomes</title>
</head>
<body>
    <LanguageSwitcher client:load />
    <slot />
</body>
</html>
